In [1]:
import requests
url = requests.get('https://www.nytimes.com/interactive/2017/06/23/opinion/trumps-lies.html')

In [3]:
print(url.text[:500])

<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]> <!--><html lang="en" class="no-js page-interactive section-opinion page-theme-standard tone-opinion page-interactive-default limit-small layout-xlarge app-interactive" itemid="https://www.nytimes.com/interactive/2017/06/23/opinion/trumps-lies.html" itemtype="https://schema.org/NewsArticle" itemscope xmlns:og="http://opengraphprotocol.org/schema/"><!--<![endif]-->
<!--[if IE 9]> <html lang="en" class="no-js ie9 lt-ie10 page-interactive section-opinion pag

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(url.text, 'html.parser') #Html etiketlerine kolayca ulaşmamızı sağlayacaktır.
print(soup.prettify()) # prettify() methoduyla html blokları gözükür.

In [8]:
results = soup.find_all('span', attrs={'class':'short-desc'}) # span classı short-desc olanları seçtik

In [9]:
len(results) # 180 tane yalan açıklama seçtik

180

In [10]:
results[:3]

[<span class="short-desc"><strong>Jan. 21 </strong>“I wasn't a fan of Iraq. I didn't want to go into Iraq.” <span class="short-truth"><a href="https://www.buzzfeed.com/andrewkaczynski/in-2002-donald-trump-said-he-supported-invading-iraq-on-the" target="_blank">(He was for an invasion before he was against it.)</a></span></span>,
 <span class="short-desc"><strong>Jan. 21 </strong>“A reporter for Time magazine — and I have been on their cover 14 or 15 times. I think we have the all-time record in the history of Time magazine.” <span class="short-truth"><a href="http://nation.time.com/2013/11/06/10-things-you-didnt-know-about-time/" target="_blank">(Trump was on the cover 11 times and Nixon appeared 55 times.)</a></span></span>,
 <span class="short-desc"><strong>Jan. 23 </strong>“Between 3 million and 5 million illegal votes caused me to lose the popular vote.” <span class="short-truth"><a href="https://www.nytimes.com/2017/01/23/us/politics/donald-trump-congress-democrats.html" target="_blank">(There's no evidence of illegal voting.)</a></span></span>]

In [11]:
results[-1]

<span class="short-desc"><strong>Nov. 11 </strong>“I'd rather have him  – you know, work with him on the Ukraine than standing and arguing about whether or not  – because that whole thing was set up by the Democrats.” <span class="short-truth"><a href="https://www.nytimes.com/interactive/2017/12/10/us/politics/trump-and-russia.html" target="_blank">(There is no evidence that Democrats "set up" Russian interference in the election.)</a></span></span>

# Tarih Verisi Çıkartalım

In [12]:
first_result = results[0]
first_result

<span class="short-desc"><strong>Jan. 21 </strong>“I wasn't a fan of Iraq. I didn't want to go into Iraq.” <span class="short-truth"><a href="https://www.buzzfeed.com/andrewkaczynski/in-2002-donald-trump-said-he-supported-invading-iraq-on-the" target="_blank">(He was for an invasion before he was against it.)</a></span></span>

In [14]:
first_result.find('strong').text # tarih verisinin kendisini getirtim string olarak

'Jan. 21\xa0'

In [17]:
first_result.find('strong').text[0:7] + ', 2017'

'Jan. 21, 2017'

In [18]:
first_result

<span class="short-desc"><strong>Jan. 21 </strong>“I wasn't a fan of Iraq. I didn't want to go into Iraq.” <span class="short-truth"><a href="https://www.buzzfeed.com/andrewkaczynski/in-2002-donald-trump-said-he-supported-invading-iraq-on-the" target="_blank">(He was for an invasion before he was against it.)</a></span></span>

In [22]:
first_result.contents

[<strong>Jan. 21 </strong>,
 "“I wasn't a fan of Iraq. I didn't want to go into Iraq.” ",
 <span class="short-truth"><a href="https://www.buzzfeed.com/andrewkaczynski/in-2002-donald-trump-said-he-supported-invading-iraq-on-the" target="_blank">(He was for an invasion before he was against it.)</a></span>]

In [24]:
html_liste = first_result.contents
yalan_ifade  = html_liste[1]
yalan_ifade = yalan_ifade[1:-2]
yalan_ifade

"I wasn't a fan of Iraq. I didn't want to go into Iraq."

Haberin Kaynak linkini alalım

In [25]:
first_result

<span class="short-desc"><strong>Jan. 21 </strong>“I wasn't a fan of Iraq. I didn't want to go into Iraq.” <span class="short-truth"><a href="https://www.buzzfeed.com/andrewkaczynski/in-2002-donald-trump-said-he-supported-invading-iraq-on-the" target="_blank">(He was for an invasion before he was against it.)</a></span></span>

In [26]:
first_result.find('span', class_ = 'short-truth')

<span class="short-truth"><a href="https://www.buzzfeed.com/andrewkaczynski/in-2002-donald-trump-said-he-supported-invading-iraq-on-the" target="_blank">(He was for an invasion before he was against it.)</a></span>

In [28]:
haber_kaynak = first_result.find('span', class_ = 'short-truth')
haber_kaynak.find('a')['href']

'https://www.buzzfeed.com/andrewkaczynski/in-2002-donald-trump-said-he-supported-invading-iraq-on-the'

# Yukarıda Belirlemiş Olduğumuz yöntemleri kullanarak veri setimizi yaratalım

In [29]:
veriler = []
for veri in results:
    date = veri.find('strong').text.replace('\xa0','') + ', 2017'

    exp = veri.contents[1][1:-2]

    link = veri.find('a')['href']
    veriler.append((date,exp,link))

In [30]:
len(veriler)

180

In [ ]:
veriler

In [35]:
import pandas as pd
df = pd.DataFrame(data = veriler, columns=['Date','Expression','Source'])
df.head()

,Date,Expression,Source
0,"Jan. 21, 2017",I wasn't a fan of Iraq. I didn't want to go in...,https://www.buzzfeed.com/andrewkaczynski/in-20...
1,"Jan. 21, 2017",A reporter for Time magazine — and I have been...,http://nation.time.com/2013/11/06/10-things-yo...
2,"Jan. 23, 2017",Between 3 million and 5 million illegal votes ...,https://www.nytimes.com/2017/01/23/us/politics...
3,"Jan. 25, 2017","Now, the audience was the biggest ever. But th...",https://www.nytimes.com/2017/01/21/us/politics...
4,"Jan. 25, 2017",Take a look at the Pew reports (which show vot...,https://www.nytimes.com/2017/01/24/us/politics...

In [36]:
df.tail()

,Date,Expression,Source
175,"Oct. 25, 2017",We have trade deficits with almost everybody.,https://www.bea.gov/newsreleases/international...
176,"Oct. 27, 2017","Wacky & totally unhinged Tom Steyer, who has b...",https://www.opensecrets.org/donor-lookup/resul...
177,"Nov. 1, 2017","Again, we're the highest-taxed nation, just ab...",http://www.politifact.com/truth-o-meter/statem...
178,"Nov. 7, 2017",When you look at the city with the strongest g...,http://www.politifact.com/truth-o-meter/statem...
179,"Nov. 11, 2017","I'd rather have him – you know, work with him...",https://www.nytimes.com/interactive/2017/12/10...

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        180 non-null    object
 1   Expression  180 non-null    object
 2   Source      180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [38]:
df.describe()

,Date,Expression,Source
count,180,180,180
unique,91,179,116
top,"June 21, 2017",We're the highest-taxed nation in the world.,https://www.washingtonpost.com/news/fact-check...
freq,8,2,16